
@{
    ViewBag.Title = "DeleteUser";
}

<h2>DeleteUser</h2>
@using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Select User</label>
            @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...")
        </div>
    </div>
    <div class="=" row">
        <div class="col-md-12 col-lg-12">
            <button class="btn btn-primary" type="submit">Delete</button>
        </div>
    </div>
}
